body {
	background-color: rgb(0, 0, 0);
	color: #23F132;
}

#content {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-top: 100px;
}

main {
	border-left: 3px solid #23f132;
	border-right: 3px solid #23f132;
	border-bottom: 3px solid #23f132;
	padding: 5px;
}

nav {
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #23F132;
}

nav ul li {
	float: left;
	padding: 10px;
}

nav ul li:hover {
	background-color: #11b21d;
} 

nav ul li a {
	text-decoration: none;
	color: rgb(0, 0, 0);	
}

.center {
	text-align: center;
}

#clients_map {
	float: left;
}

#clients_list {
	float: right;
	padding-right: 70px;
	margin-right: 10px;
	border: 3px solid #23f132;
}

#clients_list ul {
	list-style-type: none;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#clients_list ul li {
	display: list-item;
	padding-left: 40px;
}