<!doctype html>
<html lang="pl">
<head>
	<meta charset="utf-8">

	<title>FuseBase Control Panel</title>
	<meta name="description" content="FuseBase Control Panel">
	<meta name="author" content="lukas2006">

	block styles
	<link rel="stylesheet" href="css/styles.css">

	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
	<div id="content">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="clients">Connected Clients</a></li>
				<li><a href="modules">Modules & Execution</a></li>
				<div style="clear: both;"></div>
			</ul> 			
		</nav>
		<main>
			block main
		</main>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js" integrity="sha256-WPeFPWD3PZQUDrpFnDM1N2KadNVwCfNS4cCZ78b76T8=" crossorigin="anonymous"></script>
	<script src="js/index.js"></script>
	block scripts
</body>
</html>